<div class="jumbotron jumbotron-fluid animated fadeIn">
  <div class="container">
    <h1 class="display-4">Comic App</h1>
    <p class="lead">Esta es una aplicacion de comics.</p>


    <mat-form-field class="example-full-width">
      <mat-label>Buscar Heroe...</mat-label>
      <input matInput placeholder="Nombre de Heroe" (keyup.enter)="buscarHeroe(buscarTexto.value)" #buscarTexto>
    </mat-form-field>

    <div class="form-group">
      <button (click)="buscarHeroe(buscarTexto.value)" mat-raised-button color="primary">Buscar</button>
    </div>



  </div>
</div>

<div class="container animated fadeIn">
  <div class="card-columns">

    <app-search (heroeSeleccionado)="verHeroe($event)" *ngFor="let hero of heros; let i = index" [heroe]="hero">
    </app-search>

  </div>
</div>
